$font: 'Montserrat Alternates', 'Helvetica', 'Arial', sans-serif

$primary: hsla(277, 45%, 64%, 1)
$primary-dark: hsla(277, 43%, 46%, 1)

$bg: hsla(273, 60%, 98%, 1)
$bg-accent: hsla(270, 30%, 96%, 1)
$bg-h-opacity: hsla(273, 60%, 98%, .1)
$bg-m-opacity: hsla(273, 60%, 98%, 0.7)

$txt: hsla(273, 10%, 17%, 1)
$txt-accent: hsla(273, 10%, 17%, .45)
$txt-special: hsla(270, 19%, 94%, 1)
$txt-disabled: hsla(273, 10%, 17%, .3)

$alert: hsla(349, 71%, 56%, 1)


$gradient: linear-gradient(180deg, $primary 0%, $primary-dark 100%)


$shadow-tint: hsla(273, 10%, 17%, 0.05)
