$font: 'Montserrat Alternates', 'Helvetica', 'Arial', sans-serif

$primary: hsla(277, 45%, 64%, 1)
$primary-dark: hsla(277, 43%, 46%, 1)

$bg: hsla(273, 60%, 98%, 1)
$bg-h-opacity: hsla(273, 60%, 98%, .1)
$bg-m-opacity: hsla(273, 60%, 98%, 0.7)

$txt: hsla(273, 10%, 17%, 1)
$txt-special: hsla(270, 19%, 94%, 1)

$gradient: linear-gradient(180deg, $primary 0%, $primary-dark 100%)

$shadow-tint: hsla(273, 10%, 17%, 0.07)
